@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: #000000;
  font-family: "Roboto", sans-serif;
}

label {
  background-color: white;
  color: #000000;
  display: block;
  font-weight: bold;
}
input {
  border: 2px solid;
  color: black;
  margin: 0;
  background: white;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}
.inicio {
  line-height: 28px;
  font-size: 32px;
}
.email {
  font-size: 16px;
  line-height: 16px;
}
.forgot {
  font-size: 16px;
  line-height: 32px;
}
.account {
  font-size: 16px;
  line-height: 28px;
}
.register {
  font-size: 16px;
  line-height: 28px;
  font-weight: bold;
}
.facebook {
  margin-bottom: 1rem !important;
}
.login__button {
  border-radius: 1rem !important;
  margin-bottom: 1rem !important;
}
.fondo {
  background: rgb(39, 94, 205) !important;
  font-size: 20px;
}
.google {
  width: 87%;
  margin-left: 1rem;
}
.login__google {
  font-size: 20px;
  padding: 24px 10px !important;
}
.profile {
  text-align: center;
  font-size: 20px;
}
.picture {
  width: 100%;
  max-width: 7rem;
  margin: 0 auto;
  object-fit: cover;
  margin-bottom: 1rem;
}
.logout {
  box-shadow: 0px 0px 0px 2px #9fb4f2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #275ecd;
  border-radius: 10px;
  border: 1px solid #275ecd;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 19px;
  padding: 12px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin-bottom: 1rem;
}
.logout:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.logout:active {
  position: relative;
  top: 1px;
}
