.professional-card{
    /* display: flex;
flex-direction: row;
align-items: flex-start; */
padding: 24px 32px;
gap: 24px;

width: 1032px;
height: 628px;

/* Users Background Target */

background: radial-gradient(54.46% 583.73% at 24.5% 71.2%, #346BD9 25.35%, #113F9A 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
border-radius: 24px;

/* Inside auto layout */

/* flex: none;
order: 1;
flex-grow: 0; */

/*Fonts style*/
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 28px;
}

.pf-image{
    width: 216px;
height: 216px;
border-radius: 7rem;

/* background: #D9D9D9; */

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

#jobCard{
   flex: auto; /* width: 504px; */
/* height: 677px; */
}